@model GetCategoryDto
@{
    Layout = null;
}

<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

<div class="container">
    <br /><br />
    <form method="post">
        <input type="hidden" asp-for="CategoryId" />
        <input type="text" asp-for="CategoryName" placeholder="Kategori Adını Giriniz" class="form-control" />
        <br />
        <button class="btn btn-success">Kategori Güncelle</button>
    </form>
</div>